.idea/*
!.idea/artifacts/
!.idea/libraries/
!.idea/compiler.xml
!.idea/encodings.xml
!.idea/misc.xml
!.idea/modules.xml

build/mapping.pro
build/production/*
build/test/*
build/stringer.jar
!buildnumber

Launcher.jar
LaunchServer.jar
